<table id="board-game" data-gameid="{{board.id}}">
    <tr>
        <td id="upper_left"><div>{{getXorO board.upper_left}}</div></td>
        <td id="upper_mid"><div>{{getXorO board.upper_mid}}</div></td>
        <td id="upper_right"><div>{{getXorO board.upper_right}}</div></td>
    </tr>
    <tr>
        <td id="center_left"><div>{{getXorO board.center_left}}</div></td>
        <td id="center_mid"><div>{{getXorO board.center_mid}}</div></td>
        <td id="center_right"><div>{{getXorO board.center_right}}</div></td>
    </tr>
    <tr>
        <td id="lower_left"><div>{{getXorO board.lower_left}}</div></td>
        <td id="lower_mid"><div>{{getXorO board.lower_mid}}</div></td>
        <td id="lower_right"><div>{{getXorO board.lower_right}}</div></td>
    </tr>
</table>