<table id="board-game" data-gameid="{{board.id}}">
    <tr>
        <td id="upper_left" cell = "0">
            <div><span class="material-icons">{{getXorO board.upper_left}}</span></div>
        </td>
        <td id="upper_mid" cell = "1">
            <div><span class="material-icons">{{getXorO board.upper_mid}}</span></div>
        </td>
        <td id="upper_right" cell = "2">
            <div><span class="material-icons">{{getXorO board.upper_right}}</span></div>
        </td>
    </tr>
    <tr>
        <td id="center_left" cell = "3">
            <div><span class="material-icons">{{getXorO board.center_left}}</span></div>
        </td>
        <td id="center_mid" cell = "4">
            <div><span class="material-icons">{{getXorO board.center_mid}}</span></div>
        </td>
        <td id="center_right" cell = "5">
            <div><span class="material-icons">{{getXorO board.center_right}}</span></div>
        </td>
    </tr>
    <tr>
        <td id="lower_left" cell = "6">
            <div><span class="material-icons">{{getXorO board.lower_left}}</span></div>
        </td>
        <td id="lower_mid" cell = "7">
            <div><span class="material-icons">{{getXorO board.lower_mid}}</span></div>
        </td>
        <td id="lower_right" cell = "8">
            <div><span class="material-icons">{{getXorO board.lower_right}}</span></div>
        </td>
    </tr>
</table>