<section id="intro" class="d-flex flex-column">
    <h1>Welcome {{session.username}}</h1>
    <p>Here is your dashboard. You can view you career stats and also see you current games, pending requests, and past games that you have completed.</p>
    <p>To get started with a new game. Simply click the "Start Game" button and enter your friends username! Have Fun!</p>
</section>

<section id="win-loss-stats" class="d-flex flex-column">
    <h1>Career Stats</h1>
    <table>
        <tr>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
        </tr>
        <tr>
            <td>{{WLT.wins}}</td>
            <td>{{WLT.losses}}</td>
            <td>{{WLT.ties}}</td>
        </tr>
    </table>    
</section>

<section id="new-game" class="d-flex flex-column">
    <h1>Start a new game!</h1>
    <button id="start-game" class="btn btn-info" type="button" data-toggle="collapse" data-target="#new-game-form" aria-expanded="false" aria-controls="new-game-form">
        Start Game
    </button>

    <form id="new-game-form" class="collapse">
        <div class="form-group">
            <label for="friend-username">Who would you like to play with?</label>
            <input type="text" class="form-control" id="friend-username" name="friend-username">
            <button type="submit" class="btn btn-success">Submit</button>
            <button id="cancel-new-game" type="button" class="btn btn-danger" data-toggle="collapse" data-target="#new-game-form" aria-expanded="false" aria-controls="new-game-form">Cancel</button>            
        </div>
    </form>    
</section>

<section id="game-status" class="d-flex flex-column">
    <h1>Games Status</h1>
    {{#if history.inprogressGames}}
    <h3>Games in Progress</h3>
    <div class="list-group">
        {{#each history.inprogressGames}}
        <a class="list-group-item list-group-item-action list-group-item-warning" href="/games/{{gameId}}">You are currently in a game with {{opponent}}</a>
        {{/each}}
    </div>
    {{/if}}

    {{#if history.waitingGames}}
    <h3>Games Waiting For You To Join</h3>
    <div class="list-group">
        {{#each history.waitingGames}}
        <a class="list-group-item list-group-item-action list-group-item-warning" href="/games/{{gameId}}">{{opponent}} invited you to play a game</a>
        {{/each}}
    </div>
    {{/if}}

    {{#if history.pendingGames}}
    <h3>Games Waiting For Your Friend To Join</h3>
    <div class="list-group">
        {{#each history.pendingGames}}
        <a class="list-group-item list-group-item-action list-group-item-warning" href="/games/{{gameId}}">You invited {{opponent}} to play a game</a>
        {{/each}}
    </div>
    {{/if}}

    {{#if history.finishedGames}}
    <h3>Games That have Been Completed</h3>
    <div class="list-group">
        {{#each history.finishedGames}}
        <a class="list-group-item list-group-item-action list-group-item-warning" href="/games/{{gameId}}">{{message}}</a>
        {{/each}}
    </div>
    {{/if}}
</section>

<script src="/javascript/dashboard.js"></script>