<div class="game-nav">
    <a class="btn btn-primary" href="/dashboard">
        <h3><span class="material-icons">reply</span> Exit Game</h3>
    </a>
</div>
<div class="game-infor-bar container">
    <div class="row">
        <div class="x-player player col">
            <div class="row x-or-o-icon">
                <span class="material-icons">close</span>
            </div>
            <div class="row user-name">
                <h1 id="user-x" data-userid="{{game.game_owner.id}}">{{game.game_owner.username}}</h1>
            </div>
        </div>
        <div class="turn-status col">
            {{#unless (isFinished game.status)}}
            <h2 id="turn-user" data-userid="{{game.whos_turn.id}}">{{currentTurn session game}}</h2>
            {{/unless}}
        </div>
        <div class="o-player player col">
            <div class="row x-or-o-icon">
                <span class="material-icons">panorama_fish_eye</span>
            </div>
            <div class="row user-name">
                <h1 id="user-o" data-userid="{{game.friend.id}}">{{game.friend.username}}</h1>
            </div> 
        </div>
    </div>
</div>
<section class="game-board">
{{>board}}
</section>

{{#unless (isFinished game.status)}}
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/services/game-service.js"></script>
<script src="/javascript/games.js" id="game-script-tag" data-user="{{session.user_id}}" data-turn="{{game.whos_turn.id}}"></script>
{{/unless}}