<div class ="game-container">
    <div class="players">
        <div class="row user-name">
            <h1 id="user-x" data-userid="{{game.game_owner.id}}">{{game.game_owner.username}}</h1>
        </div>
        <div class="row user-name-2">
            <h1 id="user-o" data-userid="{{game.friend.id}}">{{game.friend.username}}</h1>
        </div> 
    </div>
    <div class="turn-status col">
        {{#unless (isFinished game.status)}}
            <h2 id="turn-user" data-userid="{{game.whos_turn.id}}">{{currentTurn session game}}</h2>
        {{/unless}}
    </div>
<section class="game-board">
{{>board}}
</section>
<div class="waiting-for-opponent"></div>
</div>
<div class="game-nav">
    <a href="/dashboard">
        <h3>Exit</h3>
    </a>
</div>

{{#unless (isFinished game.status)}}
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/services/game-service.js"></script>
<script src="/javascript/games.js" id="game-script-tag" data-user="{{session.user_id}}" data-turn="{{game.whos_turn.id}}"></script>
{{/unless}}