<div class ="game-container">
    <div class="players">
        <div class="">
            <h1 class="d-flex align-items-center" id="user-x" data-userid="{{game.game_owner.id}}">{{game.game_owner.username}} - <span class="material-icons">close</span></h1>
        </div>
        <div class="">
            <h1 class="d-flex align-items-center" id="user-o" data-userid="{{game.friend.id}}">{{game.friend.username}} - <span class="material-icons">panorama_fish_eye</span></h1>
        </div> 
    </div>
    <div class="turn-status text-center">
        {{#unless (isFinished game.status)}}
            <h2 id="turn-user" data-userid="{{game.whos_turn.id}}">{{currentTurn session game}}</h2>
        {{/unless}}
    </div>
<section class="game-board">
{{>board}}
</section>
<div class="waiting-for-opponent text-center my-2"></div>
</div>
<div class="game-nav text-center mt-3">
    <a href="/dashboard" class="text-info">
        <h3>Exit</h3>
    </a>
</div>

{{#unless (isFinished game.status)}}
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/services/game-service.js"></script>
<script src="/javascript/games.js" id="game-script-tag" data-user="{{session.user_id}}" data-turn="{{game.whos_turn.id}}"></script>
{{/unless}}